@import "./variables.scss";

.bg-light {
  background-color: $light-1;
}

.shadow-1 {
  box-shadow: 0 0 8px -5px $dark;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.dark-theme {
  background-color: $dark !important;

  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  smal,
  strong {
    color: $light;
  }
}

.light-theme {
  background-color: #fff !important;
}
.shadow-2 {
  box-shadow: 0 0 10px -5px #1f1f1f;
}
